{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-12">
        <div class="row alert alert-warning record_heading">
            <div class="col-md-4">
                <h3>Manage Order</h3>
            </div>
            <div class="col-md-4">
                <div class="input-group rounded">
                    <form method="post" action="{% url 'order_list' %}">
                        {% csrf_token %}
                        <input type="search" name="searched" class="form-control rounded"
                               value="{{ request.POST.searched }}" placeholder="Search" aria-label="Search"
                               aria-describedby="search-addon"/>
                        <button class="input-group-text" id="search-addon"><i>Go</i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-1" style="margin-left: 245px">
                <a href="{% url 'add_order' %}">
                    <button type="submit" class="btn btn-success">Add</button>
                </a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Student</th>
                <th scope="col">Book Details</th>
                <th scope="col">Booking Date</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Rent Per Day</th>
                <th scope="col">Days</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in order %}
                <tr>
                    <th>{{ foo.id }}</th>
                    <td>{{ foo.student }}</td>
                    <td>{{ foo.book_detail }}</td>
                    <td>{{ foo.booking_date }}</td>
                    <td>{{ foo.from_date }}</td>
                    <td>{{ foo.to_date }}</td>
                    <td>{{ foo.rent_per_day }}</td>
                    <td>{{ foo.days }}</td>
                    <td>{{ foo.amount }}</td>
                    <td>
                        {% if request.user.is_staff and request.user.is_superuser %}
                            <a href="/edit_order/{{ foo.id }}" class="btn btn-warning btn-sm">Edit</a>
                        {% endif %}
                        <form action="{% url 'delete_order' foo.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}