.library_heading {
    padding-right: 3px;
}

.record_heading {
    padding-right: 14px;
}
.dashboard {
    padding-bottom: 28px;
}

.create-btn {
    margin-left: 406px;
    margin-top: 28px;
}


.logout-btn {
    margin-left: 10px;
}